body {
    font-family: 'Gill Sans MT', 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
    scroll-behavior: smooth;
    background-color: #1E1D1D;
    color: #fff;
}
/* Husk å endre font */

a {
    text-decoration: none;
    color: #fff;
}

header {
    display: flex;
    align-items: center;
}

header,
footer {
    background-color: #000;
    color: #fff;
    width: 100%;
}

nav {
    margin-left: 150px;
}

nav li {
    display: inline-block;
    padding: 20px;
}

footer {
    position: fixed;
    bottom: 0%;
}

.active {
    text-decoration: underline;
}

/* Frontpage */

#logo {
    width: 75px;
    height: 75px;
    margin: 5px;
}

#astronaut {
    width: 100%;
    height: 985px;
    background-repeat: no-repeat;
    filter: blur(8px);
    box-sizing: border-box;

    
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

}

.welcome_text {
    position: absolute;
    font-size: 30px;
    color: #fff;
    top: 300px;
    right: 14px;
}

.arrows {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 5px;
    align-items: center;
    animation: blink 2s linear infinite;
}

#arrows {
    margin: 5px;
    width: 50px;
    height: 26px;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

.articles {
    max-width: 1200px;
    margin: 30px auto;
    font-size: 25px;
}

.articles p {
    margin: 0px;
}

.article1,
.article2 {
    display: flex;
    gap: 15px;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 100px;
}

.article_img {
    height: 200px;
    width: 305px;
}

.article3 {
    text-align: center;

}

.article3 p {
    max-width: 1000px;
    margin: 0 auto;
}

#article3_img {
    height: 400px;
    width: 1200px;
}

/* Explore */

.explore_main p {
    margin: 0;
}

h1 {
    text-align: center;
}

.explore_select {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 100px;

}

.page_select {
    height: 722px;
    width: 722px;
}

/* For Kids */

.kids_welcome {
    text-align: center;
    font-size: 25px;

}

.kids_main {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.kids_text {
    max-width: 600px;
    font-size: 20px;
}

#paragraph1,
#paragraph2,
#paragraph3 {
    margin-bottom: 70px;
}

/* For teachers */

.for_teachers {
    text-align: center;
}

.for_teachers a {
    text-decoration: underline;
}

/* Exhibition Spaces */

.main_display_list {
    display: flex;
    flex-direction: column;
    max-width: 2000px;
    margin: 0 auto;
    row-gap: 50px;
}

.cosmology,
.evolution,
.biology,
.robotics,
.ecology {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.main_display_list img {
    justify-self: center;
}

.cosmology_text,
.biology_text,
.ecology_text {
    justify-self: start;
}

/* Special Events */

.main_list {
    max-width: 1200px;
    margin: 0 auto;
}

img {
    justify-self: center;
}

.news1, 
.news2,
.news3 {
    display: grid;
    grid-template-rows: 1fr 200px;
}

.news1_text,
.news2_text,
.news3_text {
    max-width: 732px;
    text-align: center;
    justify-self: center;
}

/* Visit */

.visit_main h2 {
    margin: 0;
}

.basic_info {
    background-image: url(/IMG/exhibition-1863344_1920.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #000;
    display: flex;
    justify-content: center;
    gap: 200px;
    height: 450px;
    align-items: center;

}

.basic_info ul {
    list-style: none;
}

.hours {
    display: flex;
    flex-direction: row;
    font-size: 35px;
}

.hours ul {
    margin: 0;
    padding: 0 40px 0 0;
}




.location img {
    width: 334px;
    height: 240px;
}

.visit_info {
    font-size: 24px;
    text-align: center;
}

.admission,
.accessibility,
.food,
.shop {
    margin-top: 45px;
}

/* Get Involved */

.get_involved_main {
    max-width: 1200px;
    margin: 0 auto;
}

#contact_cta {
    justify-content: center;
    padding: 10px;
    font-size: 30px;
    border: 1px solid #000;
    border-radius: 25px;
    background-color: #000;
    
}